body,
html {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f9f9f9;
}

input{
    padding-left: 8px;
}

.subtask-container {
    display: flex;
    align-items: center;
    width: 105%;
    max-width: 440px;
}

.contact-icon {
    position: relative;
    left: -30px;
}

.contact-icon-edit {
    position: relative;
    left: -30px;
}

.border-blue {
    width: 85px;
    height: 1px;
    background-color: #29ABE2;
    margin-left: 30px;
    margin-top: 15px;
}

.page-container {
    display: flex;
    flex: 1;
    height: 60px;
}

.contacts-main {
    flex: 1;
    display: flex;
}

.contacts-section {
    display: flex;
    width: 100%;
}

.add-button {
    width: 352px;
    height: 56px;
    background-color: #2A3647;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.add-button:hover {
    background-color: #29ABE2;
}

.add-button img {
    width: 32px;
    margin-left: 16px;
}

.contacts-list {
    margin-left: 230px;
    width: 400px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white !important;
}

.contacts-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    background: #fff;
}

.contacts-scroll-area {
    overflow-y: auto;
    flex-grow: 1;
    padding: 16px;
}

.contact-details {
    flex: 1;
    margin-left: 20px;
}

.contact-title {
    font-size: 61px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.highlight {
    background-color: #29ABE2;
    height: 59px;
    width: 3px;
    border-radius: 3px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-div {
    width: 352px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-div:hover:not(.CurrentContact) {
    background-color: rgba(0, 0, 0, 0.041);
}

.CurrentContact {
    background-color: #2A3647;
    color: #FFFFFF;
}

.subtitle {
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;
    display: flex;
    align-items: center;
}

.contact-avatar {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
}

.contact-group-header {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.contact-group-highlight {
    height: 1px;
    width: 90%;
    background-color: #c9c9c9;
    margin-left: 14px;
}

.contact-mail {
    font-size: 16px;
    font-weight: 400;
    color: #29ABE2;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-top: 54px;
}

.contact-name-buttons h2 {
    font-size: 47px;
    font-weight: 500;
}

.contact-name-buttons-delete {
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../assets/icons/delete.png);
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 1px;
    background-size: 16px;
    width: 100px;
}

.contact-name-buttons-delete:hover {
    color: #29ABE2;
    font-weight: 600;
    background-image: url(../assets/icons/delete-hover.png);
}



.contact-name-buttons-edit {
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../assets/icons/edit-v2.png');
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 1px;
    background-size: 16px;
    width: 80px;
}

.contact-name-buttons-edit:hover {
    color: #29ABE2;
    font-weight: 600;
    background-image: url('../assets/icons/edit-hover.png');
}

.contact-info-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px;
    margin-left: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    border-radius: 10px;
    height: 594px;
    max-width: 1130px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    animation: flyingIn 1s ease-out forwards;
}

@keyframes flyingIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hidden {
    display: none !important;
}

.Feedback-design {
    background-color: #2A3647;
    border-radius: 7px;
    color: #FFFFFF;
    position: absolute;
    right: 30px;
    bottom: 130px;
    padding: 20px;
    animation: flyingIn 1s ease-out forwards;
}

.close-btn {
    position: relative;
    top: -264px;
    left: 90%;
    ;
    cursor: pointer;
    font-size: 24px;
    background: none;
    padding-bottom: 3px;
}

.close-btn:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.add-contact-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.add-contact-icon img {
    width: 64px;
    height: 64px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 422px;
    margin-left: 47px;
    margin-right: 30px;
}

.contact-form input {
    height: 50px;
    border: #afafaf solid 1px;
    border-radius: 10px;
    width: 90%;
}

.add-overlay-button {
    width: 364px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    padding-left: 46px;
    gap: 20px;
    padding-top: 20px;
}

.cancel-button {
    width: 126px;
    height: 56px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 1px solid black;
    background-image: url('../assets/icons/png.hover/X.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 91px;
    padding-right: 14px;
}

.cancel-button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-image: url('../assets/icons/png.hover/x-blue.png');
}

.create-button {
    width: 214px;
    height: 57px;
    background-color: #2A3647;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.create-button:hover {
    background-color: #29ABE2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.edit-overlay-button {
    width: 249px;
    height: 57px;
    display: flex;
    justify-content: space-between;
}

.delete-button {
    width: 113px;
    height: 55px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.delete-button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.contact-info-block {
    margin-left: 34px;
}

.save-button {
    width: 114px;
    height: 57px;
    background-color: #2A3647;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.save-button:hover {
    background-color: #29ABE2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.button-icon {
    position: relative;
    top: 4px;
    left: 3px;
}

.contacts-mail {
    color: #29ABE2;
}

.overlay-header {
    background-color: #2A3647;
    color: #FFFFFF;
    height: 594px;
    width: 467px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-right: 5px;
}

.overlay-header h2 {
    font-size: 61px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
}

.overlay-header p {
    font-size: 27px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 20px;
}

.overlay-header img {
    width: 55px;
    height: 66px;
    margin-left: 30px;
}

.overlay-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-contact-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

#editAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: grey;
    color: white;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-overlay-desktop {
    position: relative;
    top: -264px;
    left: 599px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    padding-bottom: 3px;
}

.close-overlay-desktop:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.add-button-mobile {
    display: none;
    background-image: url('../assets/icons/person_add.png');
    background-repeat: no-repeat;
    background-position: center;
}

.add-button-mobile:hover {
    background-color: #29ABE2;
}

.back-button {
    display: none;
}

.highlight-mobile {
    display: none;
}

.contact-view-menu-mobile {
    display: none;
}

.contact-view-menu-mobile:hover {
    background-color: #29ABE2;
}

.delete-menu-btn {
    display: none;
}

.edit-menu-btn {
    display: none;
}

.contacts-slider ul {
    display: none;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.avatar-style {
    width: 120px;
    height: 120px;
    font-size: 47px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white
}

.warning {
    height: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #FF8190;
}

.warning-container {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-border {
    border: 1px solid #FF001F !important;
}

.warning-signup {
    height: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #FF8190;
}

input::placeholder {
    padding-left: 5px;
}

@media (max-width: 1350px) {

    .contacts-list {
        margin-left: 0px;
        width: 400px;
        height: calc(100vh - 176px);
    }

    .contact-details {
        padding: 10px;
    }

    .contact-title {
        font-size: 48px;
    }

    .contact-name-buttons h2 {
        font-size: 36px;
    }

    .contact-info-subtitle {
        font-size: 18px;
    }
}

@media (max-width: 980px) {
    .close-overlay-desktop {
        left: 557px;
    }

    .contact-form input {
        width: 75%;
    }

    .close-btn {
        left: 84%;
    }
}

@media (max-width: 930px) {

    body {
        background-color: white;
    }

    .contact-title {
        align-items: flex-start;
    }

    .edit-overlay-button {
        width: 364px;
        height: 57px;
        display: flex;
        justify-content: center;
        padding-left: 46px;
        gap: 20px;
        padding-top: 0px;
    }

    .add-overlay-button {
        padding-left: 0px;
    }

    .cancel-button {
        background-position-x: 99px;
    }

    .add-contact-icon {
        margin-left: 0px;
    }

    .contact-details {
        margin-left: 0px;
    }

    .contact-details {
        display: none;
        background-color: #F6F7F8;
    }

    .contacts-header {
        display: none;
    }

    .contacts-scroll-area {
        width: 100%;
        height: calc(100vh - 80px);
    }

    .contact-div {
        width: 100%;
        height: 60px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .add-button-mobile {
        display: flex;
        height: 56px;
        width: 56px;
        background-color: #2A3647;
        border-radius: 50%;
        position: absolute;
        bottom: 100px;
        right: 40px;
    }

    .add-button-mobile img {
        width: 32px;
        height: 26px;
        margin: auto;
    }

    .overlay-content {
        height: 83vh;
        max-width: none;
        max-height: none;
        padding: 0px;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .close-overlay-desktop {
        top: -27%;
        left: 45% !important;
        color: white;
    }

    .close-overlay-desktop:hover {
        background-color: transparent;
    }

    .overlay-header {
        width: 100%;
        height: 235px;
        margin: 0;
        border-radius: 10px;
    }

    .overlay-header img {
        display: none;
    }

    .close-btn {
        position: absolute;
        top: 32px;
        right: 32px;
        color: white;
        width: 12px;
        left: 91%;
    }

    .close-btn:hover {
        background-color: transparent;
        border-radius: 50%;
    }

    .overlay-body {
        display: flex;
        flex-direction: column;
    }

    .add-contact-icon {
        margin-top: -60px;
        border-color: white;
        border-style: solid;
        margin-bottom: 32px;
    }

    .contact-form {
        height: 200px;
    }

    .contacts-list:not(.show) {
        display: none;
    }

    .contacts-list.show,
    .contact-details.show {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .back-button {
        display: block;
        position: absolute;
        top: 128px;
        right: 32px;
        width: 37px;
        height: 37px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .back-button img {
        width: 32px;
    }

    #contactView {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }

    .contact-title {
        display: flex;
        flex-direction: column;
        margin-left: 58px;
        margin-top: 32px;
        font-size: 47px;
        font-weight: 700;
    }

    .highlight-mobile {
        display: flex;
        background-color: #29ABE2;
        ;
        height: 3px;
        width: 90px;
        border-radius: 3px;
        margin-top: 10px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .highlight {
        display: none;
    }

    .contact-info-block {
        display: flex;
        flex-direction: column;
        margin-left: 36px;
    }

    .contact-info {
        margin-left: 12px;
        margin-top: 12px;
        font-size: 36px;
    }

    .contact-name-buttons button {
        display: none;
    }

    .contact-view-menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #2A3647;
        position: absolute;
        bottom: 100px;
        right: 40px;
        cursor: pointer;
    }

    .contact-view-menu-mobile img {
        height: 22px;
    }

    .contacts-slider {
        position: absolute;
        bottom: 80px;
        right: 0px;
        width: 116px;
        height: 100px;
        background-color: #ffffff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px 0px 20px 20px;
    }

    .contacts-slider.open {
        right: 0;
    }

    .dnone {
        display: none !important;
    }

    .contacts-slider img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }

    .delete-menu-btn {
        display: flex;
        width: 96px;
        height: 40px;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        color: #2A3647;
        display: flex;
        align-items: center;
    }

    .edit-menu-btn {
        display: flex;
        width: 95px;
        height: 40px;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        color: #2A3647;
        display: flex;
        align-items: center;
    }

    .contacts-slider ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }

    .subtask-container {
        justify-content: center;
    }
}

@media (max-width: 570px) {

    .border-blue {
        margin-left: 14px;
    }

    .overlay-header h2 {
        font-size: 42px;
        margin-left: 20px;
    }

    .overlay-header p {
        font-size: 20px;
        margin-left: 20px;
    }

    .border-blue {
        margin-left: 21px;
    }

    .cancel-button {
        display: none;
    }

    .add-overlay-button {
        justify-content: center;
    }

    .close-overlay-desktop {
        left: 43% !important;
    }
}

@media (max-width: 450px) {
    .close-btn {
        left: 84%;
    }

    .overlay-header h2 {
        margin-left: 10px;
    }

    .overlay-header p {
        margin-left: 10px;
    }

    .border-blue {
        margin-left: 13px;
    }

    .avatar-style {
        width: 80px;
        height: 80px;
        font-size: 40px;
    }

    .contact-name-buttons h2 {
        font-size: 33px;
    }

    .contact-avatar {
        margin-left: 0px;
    }

    #contactView {
        padding-top: 20px !important;
        padding: 0px;
    }

    .contact-title {
        margin-left: 14px;
    }

    .contact-info-subtitle {
        margin-left: 0px;
    }

    .contact-info-block {
        margin-left: 20px;
    }

    .contact-view-menu-mobile {
        right: 16px;
    }

    .margen-avatar {
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    .contacts-scroll-area {
        padding: 0px;
    }

    .contact-form input {
        width: 60%;
        font-size: 16px;
    }

    .overlay-header p {
        font-size: 16px;
    }

    .overlay-header h2 {
        font-size: 30px;
    }

    .overlay-header {
        height: 190px;
    }

    .add-button-mobile {
        height: 45px;
        width: 45px;
        right: 20px;
    }

    .delete-button {
        width: 90px;
        height: 45px;
        font-size: 16px;
    }

    .save-button {
        width: 90px;
        height: 45px;
        font-size: 16px;
    }

    .edit-overlay-button {
        gap: 10px;
        padding-left: 56px;
    }

    .contact-title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 18px;
    }
}


@media (max-width: 350px) {
    .Feedback-design {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .subtask-container {
        width: 100%;
    }

    .contacts-name {
        font-size: 16px;
    }

    .contacts-mail {
        font-size: 16px;
    }

    .create-button {
        width: 180px;
        height: 47px;
        font-size: 16px;
    }

    .contact-name-buttons h2 {
        font-size: 30px;
    }

    .contact-avatar {
        margin-right: 10px;
    }
}


@media (max-height: 900px) {
    .overlay-content {
        max-height: 660px;
    }

}

@media (max-height: 813px) {
    .overlay {
        justify-content: flex-start;
    }

    .overlay-header p {
        margin-top: 5px;
    }

    .overlay-content {
        margin-top: 20px;
    }

    .add-overlay-button {
        padding-top: 0px;
    }

}

@media (max-height: 740px) {
    .add-contact-icon {
        margin-bottom: 17px;
    }

    .overlay-header {
        justify-content: flex-start;
    }

    .overlay-header h2 {
        margin-top: 25px;
    }
}

@media (max-height: 670px) {

    .create-button {
        width: 200px;
        height: 50px;
    }

        .edit-overlay-button {
        padding-top: 0px;
    }
}

@media (max-height: 662px) {
    .close-overlay-desktop {
        top: -31%;
    }

    .overlay-header h2 {
        margin-top: 10px;
    }


    .border-blue {
        margin-top: 5px;
    }

    .add-contact-icon {
        margin-bottom: 5px;
    }
}

@media (max-height: 632px) {
    .close-overlay-desktop {
        top: -28%;
    }
}

@media (max-height: 620px) {
    .close-overlay-desktop {
        top: -26%;
    }

    .overlay-header h2 {
        font-size: 31px;
        margin-left: 15px;
    }

    .overlay-header p {
        font-size: 18px;
        margin-left: 15px;
    }

    .close-overlay-desktop {
        top: -24%;
    }
}

@media screen and (max-width: 930px) {
  input {
    height: 934px;
  }

    .overlay-content {
        max-height: 700px;
    }
}