body {
    margin: 0;
}

main {
max-width: 1440px;
}

.txtContainer {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 104px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.txtField {
    margin-bottom: 20px;
    word-break: break-word;
}

a {
    color: #29ABE2;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
}

h2 {
    font-size: 27px;
    font-weight: 700;
    margin-top: 24px;
}

.txtContainer {
    height: 100%;
    margin-top: 36px;
    margin-left: 328px;
    margin-right: 96px;
}

.highlight {
    color: #29ABE2;
}

@media (max-width: 1350px) {
    .txtContainer {
        margin-left: 86px;
    }
}

@media (max-width: 550px) {
    .txtContainer {
        margin-left: 12px;
        margin-right: 12px;
    }

    h1 {
        font-size: 47px;
    }
}